* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 55px;
    width: auto;
}

.top-bar h2 {
    color: #1e3aa8;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile-icon {
    background: #5f8cff;
    color: white;
    padding: 10px;
    border-radius: 50%;
}



/* PROFILE SLIDE */
.profile-slide {
    position: fixed;
    top: 80px;
    right: -320px;
    width: 300px;
    background: white;
    box-shadow: -4px 0 15px rgba(0,0,0,0.15);
    padding: 20px;
    transition: 0.4s;
    z-index: 99;
}

.profile-slide.show {
    right: 0;
}

/* MENU */
.menu-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.menu-card {
    width: 220px;
    text-align: center;
}

.menu-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* hover gambar */
.menu-card img:hover {
    transform: translateY(-12px);
}

/* BUTTON */
.menu-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 28px;
    background: linear-gradient(#6fa8ff, #3b6cff);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.menu-btn:hover {
    background: linear-gradient(#2f5adf, #1e3aa8);
}

.logout-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #e53935;
    color: white;
    cursor: pointer;
}

.logout-btn:hover {
    background: linear-gradient(#e53935, #550000);
}
